#userTable{
    direction: ltr;
    width: 98%;
    margin: auto;
}

.rdt_Table{
    background-color: aqua;
    direction: ltr;
}

.rdt_TableRow{
    border: black solid 2px;
}

.rdt_TableCol{
    background-color: aquamarine;
    
}

#userTable #submit{
    width: 24%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    background-color: coral;
    color: white;
}
